page-home {

    .done {
      text-decoration: line-through;
     }
  
    .task-name {
      font-size: 4em;
  
    }
  
    .noOfTimes {
      font-size: 0.2em;
    }
  

  
    .date { 
      position: absolute;
      left: 0;
      top: 5px;
      height: 100%;
      width: 100%;
      text-align: center;
      font-size: 1.4em;
      color:white;
  }

    .times {
    float: right;
    }


  ion-grid {
    height: 10%;
  
    ion-row {
      height: 10%;
      border-bottom: 0.1px solid grey !important;
    }
  }





  }
  