<ion-header>
  <ion-navbar color="danger">

  </ion-navbar>
</ion-header>


<ion-content padding class="scroll-content">

  <ion-list>

    <form name="form" (ngSubmit)="f.form.valid && login()" #f="ngForm" novalidate>

    <ion-item>
      <ion-label>Select Internship</ion-label>
      <ion-select (ionChange)="getInternshipIdValue($event)">
        <ion-option *ngFor="let internship of internshipList" [value]="internship">{{internship.internshipName}}</ion-option>
      </ion-select>
    </ion-item> 


      <ion-item [ngClass]="{ 'has-error': f.submitted && !email.valid }">
        <ion-label>Email</ion-label>
        <ion-input class="text-input" type="email" name="email" [(ngModel)]="model.email" #email="ngModel" required></ion-input>

      </ion-item>
      <ion-label style="color: red; text-align: center" *ngIf="f.submitted && !email.valid">Email is required</ion-label>

      <ion-item [ngClass]="{ 'has-error': f.submitted && !password.valid }">
        <ion-label>Password</ion-label>
        <ion-input class="text-input" type="password" name="password" [(ngModel)]="model.password" #password="ngModel" required></ion-input>

      </ion-item>
      <ion-label style="color: red; text-align: center" *ngIf="f.submitted && !password.valid">Password is required</ion-label>


      <button ion-button [disabled]="loginBtnDisabled" color="danger" type="submit" block>Login</button>

      <p class="message" style="text-align: center;">Not Registered Yet?
        <a (click)="navigateToRegisterPage()">Register</a>
      </p>

    </form>

  </ion-list>

</ion-content>